In [1]:
import pandas as pd

In [6]:
# read in the data
trials = pd.read_hdf('C:/Users/karam/Documents/GitHub/1-normalized.hdf','trials')
eye_samples = pd.read_hdf('C:/Users/karam/Documents/GitHub/1-normalized.hdf','eye_samples')

In [19]:
# update info based on trial_type codes
trial_codes = {6101:'Novel', 6111: 'Novel Learning', 6102: 'Familiar', 6112: 'Familiar Learning'}
trials['type'] = trials['trial_type'].map(trial_codes)
eye_samples['type'] = eye_samples['trial_type'].map(trial_codes)

# remove initial trial_type columns
del trials['trial_type']
del eye_samples['trial_type']

# create 2 data frames
trials_df = pd.DataFrame(trials)
eye_samples_df = pd.DataFrame(eye_samples)

In [20]:
trials_df

                           fixation_required  fractals  good_trials  \
datetime            Trial
2019-02-01 15:03:00 0                      1      6212            1
                    1                      1      6202            1
                    2                      1      6302            1
                    3                      1      6212            1
                    4                      1      6202            1
...                                      ...       ...          ...
2019-01-31 16:11:00 489                    1      6202            1
                    490                    1      6101            1
                    491                    1      6212            1
                    492                    1      6312            1
                    493                    1      6302            1

                           target_amplitude  target_angle  time_fp_off  \
datetime            Trial
2019-02-01 15:03:00 0                    10             0     2.041627
                    1                    10             0     2.027416
                    2                    10             0     1.866344
                    3                    10           180     1.868525
                    4                    10           180     1.872531
...                                     ...           ...          ...
2019-01-31 16:11:00 489                  10             0     2.048566
                    490                  10           180     2.096719
                    491                  10           180     3.479869
                    492                  10             0     2.056604
                    493                  10             0     2.012973

                           time_outcome  time_target_on               type
datetime            Trial
2019-02-01 15:03:00 0          4.539041        1.541559  Familiar Learning
                    1          4.522012        1.519004           Familiar
                    2          4.361617        1.365954           Familiar
                    3          4.363784        1.368451  Familiar Learning
                    4          4.367683        1.372509           Familiar
...                                 ...             ...                ...
2019-01-31 16:11:00 489        4.551228        1.548390           Familiar
                    490        4.584201        1.588395              Novel
                    491        5.975469        2.979798  Familiar Learning
                    492        4.543982        1.548147  Familiar Learning
                    493        4.507564        1.504559           Familiar

[19181 rows x 9 columns]

In [21]:
eye_samples_df

,Trial,fixation_required,fractals,good_trials,target_amplitude,target_angle,time_fp_off,time_outcome,time_target_on,datetime,Pupils,x,y,t,type
sample_id,,,,,,,,,,,,,,,
0,0,1,6212,1,10,0,2.041627,4.539041,1.541559,2019-02-01 15:03:00,39.865723,24.316406,-2.004395,7.000005e+06,Familiar Learning
1,0,1,6212,1,10,0,2.041627,4.539041,1.541559,2019-02-01 15:03:00,39.855957,24.311523,-2.005615,7.000005e+06,Familiar Learning
2,0,1,6212,1,10,0,2.041627,4.539041,1.541559,2019-02-01 15:03:00,39.848633,24.316406,-1.994934,7.000005e+06,Familiar Learning
3,0,1,6212,1,10,0,2.041627,4.539041,1.541559,2019-02-01 15:03:00,39.851074,24.296875,-1.992188,7.000005e+06,Familiar Learning
4,0,1,6212,1,10,0,2.041627,4.539041,1.541559,2019-02-01 15:03:00,39.880371,26.396484,-1.979980,7.000005e+06,Familiar Learning
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2354109,507,1,6101,0,10,180,-1.000000,NaN,1.517771,2019-02-01 15:03:00,-2.153320,0.549316,-1.706848,7.003740e+06,Novel
2354110,507,1,6101,0,10,180,-1.000000,NaN,1.517771,2019-02-01 15:03:00,-2.153320,0.549316,-1.706848,7.003740e+06,Novel
2354111,507,1,6101,0,10,180,-1.000000,NaN,1.517771,2019-02-01 15:03:00,-9.367676,-0.664062,-1.655884,7.003740e+06,Novel
2354112,507,1,6101,0,10,180,-1.000000,NaN,1.517771,2019-02-01 15:03:00,-10.471191,-0.839844,-1.651001,7.003740e+06,Novel
2354113,507,1,6101,0,10,180,-1.000000,NaN,1.517771,2019-02-01 15:03:00,-14.711914,-1.245117,-1.670532,7.003740e+06,Novel

In [26]:
# look for unique values in certain columns
trials_df.good_trials.unique() # good trials either 0 or 1
fractal_codes = trials_df.fractals.unique()
fractal_codes.size # 15 different fractal codes

# target amplitude always 10, target angle either 0 or 180, 4 trial types
# fixation_required always 1

15